body,
html
{
    width: 100%;
    height: 100%;
}
.container
{
    font-size: 16px;

    width: 1170px;
    margin: 0 auto;

    background-color: #f9f9f9;
    display: none;
    position: absolute;
    top:50px;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    z-index:99;
    .close{
        position: absolute;
        right:5px;
        top:5px;
        cursor: pointer;
        img{
            width: 30px;
            height: 30px;
        }
    }
    .box-container
    {
        overflow: hidden;
    }
    .box
    {
        font-weight: bolder;

        display: inline-block;
        float: left;

        margin-left: 20px;

        h2
        {
            color: #337ab7;
        }
        div
        {
            margin-top: 20px;
        }
    }
    .box + .box
    {
        margin-top: 42px;
        margin-left: 350px;
    }
    .lie-container
    {
        overflow: hidden;

        margin-top: 20px;
        span
        {
            font-weight: bold;

            margin-left: 20px;
        }
        .inf
        {
            overflow: hidden;
            ul
            {
                overflow: hidden;
            }

            li
            {
                font-size: 14px;
                width: 120px;
                display: inline-block;
                float: left;

                margin-top: 10px;
                margin-left: 150px;

                list-style: none;
                position: relative;
                span{
                    margin-left:0;
                    position: absolute;
                    right:0;
                }
            }
        }
    }
    .show-container
    {
        margin-top: 20px;
        span
        {
            font-weight: bold;

            margin-left: 20px;
        }
        button
        {
            width: 85px;
            height: 38px;
            margin-left: 50px;

            border: none;
            border-radius: 5px;
            background-color: #c0c0c0;
        }
    }
}
.header{
    width: 100%;
    background-color: #242424;
    .header-center{
        width: 1170px;
        height: 50px;
        line-height:50px;
        margin: 0 auto;
        li{
            font-size: 20px;
            color: #fff;
            list-style:none;
            float: left;
            a{
                text-decoration: none;
                color: #9d9d9d;
            }
            a:hover{
                color: #fff;
            }
        }
        li+li{
            font-size: 16px;
            color: #9d9d9d;
            float: right;
            margin-right:20px;
        }
    }
}
.bodyer{
    width: 100%;
    .bodyer-center{
        width: 1000px;
        margin: 0 auto;
        overflow: hidden;
        .file-info{
            display: inline-block;
            width: 800px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            border: 1px solid d9edf7;
            background-color: #d9edf7;
            border-radius: 15px;
            margin-top: 20px;
            box-sizing: border-box;
        }
        button{
            width: 100px;
            height: 30px;
            border: 1px solid #adafb0;
            border-radius: 5px;
            background-color: #c9d2d6;
            position: relative;
            left: 20px;
        }
    }
}